
body, html, .container {
    background: #333;
    display: block;
    height: 100%;
    margin: 0 !important;
    overflow: hidden;
    padding: 0 !important;
    width: 100%;
}

.hexContainer {
    display: inline-block;
    height: 100%;
    position: relative;
}

#canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.toolbarContainer {
    background: #efefef;
    display: inline-block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
}

.toolbarContainer {
    background: #efefef;
    display: inline-block;
    height: 100%;
    top: 0;
    vertical-align: top;
    width: 200px;
}

.logoImage {
    margin-left: 6%;
    margin-top: 16px;
    width: 88%
}

.toolbarMain {
    text-align: center;
}

.toolbarMain>h4 {
    margin-top: 30px;
}

.toolbarSectionTitle {
    text-decoration: underline;
}

.toolbarSectionBody {
    background: #cbcbcb;
    padding: 4px;
    height: 198px;
}

.toolbarTool {
    background: red;
    display: inline-block;
    height: 60px;
    width: 60px;
}