
body, html, .container {
    background: #333;
    display: block;
    height: 100%;
    margin: 0 !important;
    overflow: hidden;
    padding: 0 !important;
    width: 100%;
}

.hexContainer {
    display: inline-block;
    height: 100%;
    position: relative;
}

#canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.toolbarContainer {
    background: #efefef;
    display: inline-block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
}

.toolbarContainer {
    background: #efefef;
    display: inline-block;
    height: 100%;
    top: 0;
    vertical-align: top;
    width: 200px;
}

.logoImage {
    margin-left: 6%;
    margin-top: 16px;
    width: 88%
}

.toolbarMain {
    text-align: center;
}

.toolbarMain>h4 {
    margin-top: 30px;
}

.toolbarSectionTitle {
    text-decoration: underline;
}

.toolbarSectionBody {
    background: #cbcbcb;
    padding: 4px;
    height: 198px;
}

.toolbarTool {
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    height: 60px;
    opacity: 0.7;
    transition: opacity 0.2s ease;
    width: 60px;
}

.toolbarTool:hover {
    cursor: pointer;
    opacity: 1;
}

.toolbarTool.active {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(45,155,189,1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(45,155,189,1);
    box-shadow: 0px 0px 7px 0px rgba(45,155,189,1);
}

.toolbarTool.startNode {
    background-image: url('../img/nodes/start.png');
}

.toolbarTool.stopNode {
    background-image: url('../img/nodes/stop.png');
}

.toolbarTool.ricochetNode {
    background-image: url('../img/nodes/ricochet.png');
}